@* Base guide navigation used both on desktop aside and mobile offcanvas *@
<nav class="nav flex-column guide-nav">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
    <a class="nav-link" href="#">KHÓA HỌC NĂNG LƯỢNG</a>
    <a class="nav-link" href="#">KHÓA THIỀN</a>
    <a class="nav-link" href="#">THƯ VIỆN</a>
    <a class="nav-link" href="#">LIÊN HỆ</a>
</nav>

